<div fxLayoutAlign="center center">
    <mat-grid-list cols="5" rowHeight="450px" class="custom-grid-list" gutterSize="20px" >
        <mat-grid-tile *ngFor="let ljubimac of ljubimac.slice(10,20)">
            <mat-card class="product-card">
                <div class="product-image-wrapper">
                    <img [src]="ljubimac.slika" alt="Slika ljubimca">
                </div>
                <mat-card-header class="product-header">
                    <mat-card-title>{{ ljubimac.ime }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="product-details">
                    <div class="detail-row">
                        <span class="detail-label">Rod:</span>
                        <span class="detail-value">{{ ljubimac.rod }}</span>
                    </div>
                    <div class="detail-row">
                        <span class="detail-label">Rasa:</span>
                        <span class="detail-value">{{ ljubimac.rasa }}</span>
                    </div>
                    <div class="detail-row">
                        <span class="detail-label">Veličina:</span>
                        <span class="detail-value">{{ ljubimac.velicina }}</span>
                    </div>
                    <div class="detail-row">
                        <span class="detail-label">Godište:</span>
                        <span class="detail-value">{{ ljubimac.godiste}}</span>
                    </div>
                    <div class="add-to-cart-container">
                        <button mat-raised-button color="primary" class="add-to-cart-button" (click)="onAddToCart(ljubimac)">
                            <span>Dodaj u korpu: {{ ljubimac.cena | number:'1.0-2' }} RSD</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>



