<div class="detalji-container" *ngIf="proizvod">
  <mat-card class="proizvod-card">
    <img mat-card-image [src]="proizvod.slika" [alt]="proizvod.ime">

    <mat-card-content>
      <h2>{{ proizvod.ime }}</h2>
      <p><strong>Rasa:</strong> {{ proizvod.rasa }}</p>
      <p><strong>Veličina:</strong> {{ proizvod.velicina }}</p>
      <p><strong>Godište:</strong> {{ proizvod.godiste }}</p>
      <p><strong>Rod:</strong> {{ proizvod.rod }}</p>
      <p><strong>Cena:</strong> {{ proizvod.cena }} RSD</p>
      <p><strong>Opis:</strong> {{ proizvod.opis }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="add-to-cart-button" (click)="onAddToCart(proizvod)">
        Dodaj u korpu
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!proizvod">
  <p>Ljubimac nije pronađen.</p>
</div>