<div class="chatbot-container">
  <div class="messages">
    <div *ngFor="let message of messages$ | async" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
      <p>{{ message.text }}</p>
    </div>
  </div>
  <div class="input-container">
    <input 
      matInput 
      [(ngModel)]="userInput" 
      (keyup.enter)="sendMessage()" 
      placeholder="Unesite poruku..."
    />
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>


