<mat-card *ngIf="korpa.items.length">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="slika">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">
          <img [src]="ljubimac.slika">
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="rasa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rasa:</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">{{ ljubimac.rasa }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="velicina">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Veličina</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">{{ ljubimac.velicina }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="kolicina">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kolicina</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">
          <span>{{ ljubimac.kolicina }}</span>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cena">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cena</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">{{ ljubimac.cena | currency:'RSD: ':true:"1.0-2" }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ukupno">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ukupan Iznos</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">{{ ljubimac.kolicina * ljubimac.cena | currency:'RSD: ':true:"1.0-2" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">
          <span [ngClass]="{'status-pristigao': ljubimac.status === 'Pristigao', 'status-u-toku': ljubimac.status === 'U toku', 'status-otkazano': ljubimac.status === 'Otkazano'}">{{ ljubimac.status }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let ljubimac">
            
            <button mat-raised-button color="primary" (click)="promeniStatus(ljubimac.id, 'Pristigao')" 
                *ngIf="ljubimac.status === 'U toku'">
                <mat-icon>check_circle_outline</mat-icon> Pristigao
            </button>
            
            <button mat-raised-button color="warn" (click)="promeniStatus(ljubimac.id, 'Otkazano')" 
                *ngIf="ljubimac.status === 'U toku'">
                <mat-icon>cancel</mat-icon> Otkaži
            </button>

            <div class="ocena-container" *ngIf="ljubimac.status === 'Pristigao'">
                <mat-icon 
                    *ngFor="let ocena of [1, 2, 3, 4, 5]" 
                    [ngClass]="{'ocenjena-zvezdica': ljubimac.ocena !== null && ocena <= ljubimac.ocena}"
                    (click)="oceniPorudzbinu(ljubimac, ocena)">
                    star
                </mat-icon>
            </div>

            <button mat-raised-button color="warn" (click)="obrisiPorudzbinu(ljubimac)" 
                *ngIf="ljubimac.status === 'Pristigao' || ljubimac.status === 'Otkazano'">
                <mat-icon>delete</mat-icon>
            </button>

        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let rows; columns: displayedColumns"></mat-row>
    </mat-table>

</mat-card>

<div fxLayoutAlign="center end" *ngIf="korpa.items.length" fxLayoutGap="60px">
  <button mat-raised-button color="primary" routerLink="/prodavnica">Vratite se na kupovinu</button>
  <button mat-raised-button color="primary">Ukupan iznos {{ getTotal(korpa.items) | currency:'RSD: ':true:"1.0-2" }}</button>
</div>

<mat-card fxLayoutAlign="center center" *ngIf="!korpa.items.length">
  <p>
    Korpa je prazna
    <button mat-raised-button color="primary" routerLink="/prodavnica">Vratite se na kupovinu</button>
  </p>
</mat-card>



